#
# WARNING: The authoritative runtime requirements are held in pyproject.toml. This file is a convenience to
#          establish a build environment only.

# Build-time requirements

setuptools>=42.0.0
build>=0.9.0             # MIT
wheel>=0.36.0            # MIT
pylint~=2.17.5           # MIT
pytest~=7.2.0            # GPL-2.0-or-later
pytest-cov~=4.0.0        # MIT
Babel~=2.11.0            # BSD

# Runtime requirements

rich~=13.5.2            # MIT
cryptography~=41.0.3   # MIT