#
# WARNING: The authoritative runtime requirements are held in pyproject.toml. This file is a convenience to
#          establish a build environment only.

# Build-time requirements

setuptools==69.1.1
build==1.0.3                        # MIT
wheel==0.42.0                       # MIT
mypy==1.8.0                         # MIT
pytest==7.4.4                       # GPL-2.0-or-later
pytest-cov==4.1.0                   # MIT
pytest-asyncio==0.23.3              # Apache 2.0
Babel==2.14.0                       # BSD

# Runtime requirements

rich==13.7.0                        # MIT
cryptography==41.0.7                # MIT
aiosqlite==0.19.0                   # MIT
sqlalchemy[asyncio]==2.0.25         # MIT
