# Runtime requirements

rich==14.1.0                        # MIT
cryptography==45.0.6                # MIT
aiosqlite==0.21.0                   # MIT
sqlalchemy[asyncio]==2.0.43         # MIT
pydantic==2.11.7                    # MIT
