# Runtime requirements

rich==13.9.3                        # MIT
cryptography==43.0.1                # MIT
aiosqlite==0.20.0                   # MIT
sqlalchemy[asyncio]==2.0.34         # MIT
pydantic==2.9.1                     # MIT
