# Build-time requirements

setuptools==72.1.0
build==1.2.1                        # MIT
wheel==0.43.0                       # MIT

mypy==1.8.0                         # MIT
pytest==7.4.4                       # GPL-2.0-or-later
pytest-cov==4.1.0                   # MIT
pytest-asyncio==0.23.3              # Apache 2.0
Babel==2.14.0                       # BSD
