#
# Perform a regular build on any branch except main

name: build

on:
  push:
  pull_request:
    types: [ opened, synchronize ]

jobs:
  # Prepare the build
  prep:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      abort: ${{ steps.debounce.outputs.abort }}
      version: ${{ steps.version.outputs.version }}
    steps:
    - name: Abort building on push with open PR
      id: debounce
      uses: MrMatAP/mrmat-debounce-action@latest
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Version the project
      id: version
      uses: MrMatAP/mrmat-versioning-action@latest
      with:
        ecosystem: python
        major: 1
        minor: 1

  # A regular project build. Test results will explicitly be reported during a pull request build
  build:
    runs-on: ubuntu-latest
    needs: prep
    if: ${{ needs.prep.outputs.abort != 'true' }}
    permissions:
      contents: read
      pull-requests: write
      checks: write
    env:
      MRMAT_VERSION: ${{ needs.prep.outputs.version }}
    steps:
    - name: Checkout out our code
      uses: actions/checkout@v5.0.0
    - name: Set up uv and Python
      uses: astral-sh/setup-uv@v6.0.0
      with:
        enable-cache: true
        python-version: 3.13.7
    - name: Lint
      run: uvx ruff check --output-format=github
    - name: Build
      run: uv build --wheel
    - name: Test
      run: uv run --frozen pytest --junit-xml=${GITHUB_WORKSPACE}/build/junit.xml --cov-report=xml:${GITHUB_WORKSPACE}/build/coverage.xml

  # The release job only executes when pushing to the main branch
  release:
    if:
      ${{ github.event_name == 'push' && github.ref == 'refs/heads/main'
      }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs:
    - prep
    - build
    steps:
    - name: Checkout out our code
      uses: actions/checkout@v5.0.0
    - name: Create Release
      id: create_release
      uses: MrMatAP/mrmat-release-action@latest
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        release_name: Release ${{ needs.prep.outputs.version }}
        release_version: ${{ needs.prep.outputs.version }}
        release_description: |
          Release ${{ needs.prep.outputs.version }}
        update_latest: false
